*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: black;
}
li,ul{
    list-style: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body{
    font-size: 9px;
    box-sizing: border-box;
    background-color: #F6F6E0;
    transition: 1s;
}
.wrap{
    width: 100%;
    height: 100vh;
    overflow: auto;
}

/* header 중복 */
.logo{
    width: 200px;
    height: 64px;
}
.main_header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid;
    box-sizing: border-box;
    background-color: #fff;
}
.menu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}
.menu>.logo{
    width: 100px;
    height: 32px;
}
.menu a:last-child{
    width: 20px;
    height: 12px;
}



/* banner 중복 */
.banner_wrap{
    width: 100%;
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 100%;
    height: 100%;
    position: relative;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}
.on{
    opacity: 1;
    transition: 0.5s;
}
.slide_wrap{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;;
}
#slide{
    border-radius: 50px;
    padding: 4px;
    margin-left: 5px;
}
#slide:first-child{
    margin-left: 0;
}

/* 주문버튼 중복 */
.order_but{
    width: 350px;
    height: 86px;
    text-align: center;
    color: #fff;
    background-color: #A71C20;
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px auto 30px;
    cursor: pointer;
}